// ---------- Custom Configuration ---------- //
$color-system:                "polaris" !default;      // polaris | material
$has-plugin-color:            true !default;           // true | false
$has-plugin-background-color: true !default;           // true | false
$has-plugin-border-color:     false !default;          // true | false
$has-plugin-outline-color:    false !default;          // true | false
