// ---------- Custom Configuration ---------- //
$color-system:         "polaris" !default;      // "polaris" | "material"

$has-color:            true !default;           // true | false
$has-background-color: true !default;           // true | false
$has-border-color:     false !default;          // true | false
$has-outline-color:    false !default;          // true | false
